.product-list {
  display: grid;
  gap: var(--spacing-lg);
}

.product-list__heading {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

.product-list__items {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, 
    minmax(clamp(100% / 3 - 20px, 250px, 100%), 1fr)
  );
  gap: var(--spacing-lg);
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-list__item {
  min-width: 0;
}